<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
   <%= render 'layouts/head' %>
  </head>
  <header>
  <%= render 'layouts/header' %>
  </header>
  <%= render 'layouts/flash' %>
  <section id="modalArea">
    <%= render 'layouts/modal' %>
  </section>
  <section id="user_menu_area">
    <%= render 'layouts/user_menu' if user_signed_in? %>
  </section>
  <body>
  <div class="wrapper">
      <%= yield %>
    </body>
    <footer>
      <%= render 'layouts/footer' %>
    </footer>
  </div>
</html>
